@import '../global.scss';



.author {
    width: 100%;
    padding: 0px;
    display: flex;
    gap: 20px;
    height: 100vh;
    background-color: #030303;
    margin-top: 70px;

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: inherit;

        .description-inner-div {
            width: 80%;
            align-self: flex-end;
            // border: 1px solid grey;
            padding: 20px;
            border-radius: 20px;
            color: white;
            background-color: #181515;
            position: relative;

            .author_name {
                background: var(--author-name-color);
                background-clip: text;
                color: transparent;
            }

            .about-me-btn {
                padding: 10px 20px;
                background-color: #121214;
                border-radius: 10px;
                margin: 0px auto 0px;
                position: relative;
                z-index: 0;
                overflow: hidden;

                &>* {
                    color: white;
                }
            }

            .about-me-btn:hover {
                box-shadow:
                    2px 2px 2px #45efcd,
                    2px 2px 6px #ef4594,
                    2px 2px 6px #3e10bd,
                    2px 2px 6px #cc8b12;
            }
        }

        .description-inner-div::after {
            content: '';
            position: absolute;
            width: 101%;
            height: 101%;
            background-color: #ff0000;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 20px;
            z-index: -10;
            background-image: conic-gradient(#ff0000, #0000ff, #2b2b6b, #ff0000);
        }

        .description-inner-div::before {
            content: '';
            position: absolute;
            width: 101%;
            height: 101%;
            background-color: #ff0000;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 20px;
            z-index: -10;
            background-image: conic-gradient(#ff0000, #0000ff, #2b2b6b, #ff0000);
            filter: blur(50px);
            opacity: 0.5;
        }

    }


    .profile-logo {
        width: 40%;
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .logo {
            height: 100vh;
            object-fit: contain;
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 992px) {
    .author {
        flex-direction: column;
        height: auto;

        .description {
            width: 100%;
            height: auto;
            padding: 20px;

            .description-inner-div {
                width: 70%;
                align-self: center;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    font-size: 2rem;
                }

                h2 {
                    font-size: 1.5rem;
                }

                h3 {
                    font-size: 1.2rem;
                }

                h4 {
                    font-size: 1rem;
                }
            }
        }

        .profile-logo {
            width: 100%;
            height: auto;
            padding: 20px;

            .logo {
                height: 90vh;
                margin-bottom: -20px;
            }
        }
    }

}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .author {
        flex-direction: column;
        height: auto;

        .description {
            width: 100%;
            height: auto;
            padding: 20px;

            .description-inner-div {
                width: 80%;
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 2rem;
                }

                h2 {
                    font-size: 1.5rem;
                }

                h3 {
                    font-size: 1.2rem;
                }

                h4 {
                    font-size: 1rem;
                }
            }
        }

        .profile-logo {
            width: 100%;
            height: auto;
            padding: 20px;

            .logo {
                height: 90vh;
                margin-bottom: -20px;

            }
        }
    }

}

@media screen and (max-width: 767px) and (min-width: 576px) {
    .author {
        flex-direction: column;
        height: auto;

        .description {
            width: 100%;
            height: auto;
            padding: 20px;

            .description-inner-div {
                width: 80%;
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 2rem;
                }

                h2 {
                    font-size: 1.5rem;
                }

                h3 {
                    font-size: 1.2rem;
                }

                h4 {
                    font-size: 1rem;
                }
            }
        }

        .profile-logo {
            width: 100%;
            height: auto;
            padding: 20px;

            .logo {
                height: 90vh;
                margin-bottom: -20px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .author {
        flex-direction: column;
        height: auto;

        .description {
            width: 100%;
            height: auto;
            padding: 20px;

            .description-inner-div {
                width: 90%;
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 2rem;
                }

                h2 {
                    font-size: 1.5rem;
                }

                h3 {
                    font-size: 1.2rem;
                }

                h4 {
                    font-size: 1rem;
                }
            }
        }

        .profile-logo {
            width: 100%;
            height: auto;
            padding: 20px;

            .logo {
                height: 90vh;
                margin-bottom: -20px;
            }
        }
    }

}