// general settings for large screen 1024px and above
section,
.section {
  color: white;
  // background-color: var(--background-color);
  background-color: #070810;
  padding: 100px 0 60px 0 ;
  scroll-margin-top: 80px;
  overflow: clip;

    .intro-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .image-div{
        .img-fluid{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 80px;
  }
}

// global section
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-title p {
  margin-bottom: 0;
  font-size: 20px;
  font-style: italic;
}

.about .content h2 {
  font-weight: 700;
  font-size: 24px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--accent-color);
  line-height: 0;
}